@model EmployeeModel
@{
    ViewData["Title"] = "Employee";
}


<h2>Employee data </h2>
<div>
    Name: @Model.Name
</div>
<div>
    Surname: @Model.Surname
</div>
<div>
    Year of Birth: @Model.BirthYear
</div>
<div>
    Department: @Model.Department
</div>
<div>
    Position: @Model.Position
</div>

<br />
<a asp-controller="Employee" asp-action="Index">Atpakaļ</a>
<br />

