@model ItemModel
@{
    ViewData["Title"] = " View Item";
}

<h2>@Model.Name</h2>
<div>
    Name: @Model.Name
</div>
<div>
    Category: @Model.Category.Name
</div>
<div>
    Price: @Model.Price
</div>
<div>
    Description: @Model.Description
</div>
<div>
    Location: @Model.Location
</div>

<br />
<a asp-controller="Category" asp-action="Index">Atpakaļ</a>
<br />